<p style="color: green"><%= notice %></p>

<% content_for :title, "Brackets" %>

<h1>Brackets</h1>

<div id="brackets">
  <ul>
    <% @brackets.each do |bracket| %>
      <li><span class="wa-body-l"><%= link_to bracket.name, bracket %></span></li>
      <p>
        <%= link_to "Show this bracket", bracket %>
      </p>
    <% end %>
  </ul>
</div>

<%= link_to "New bracket", new_bracket_path %>
