<div id="<%= dom_id pick_set %>">
  <div>
    <strong>Name:</strong>
    <%= pick_set.name %>
  </div>

  <div>
    <strong>User:</strong>
    <%= pick_set.user_id %>
  </div>

  <div>
    <strong>Bracket:</strong>
    <%= pick_set.bracket_id %>
  </div>

</div>
