<div id="<%= dom_id pick %>">
  <div>
    <strong>User:</strong>
    <%= pick.user_id %>
  </div>

  <div>
    <strong>Series:</strong>
    <%= pick.series_id %>
  </div>

  <div>
    <strong>Predicted winner:</strong>
    <%= pick.predicted_winner_id %>
  </div>

</div>
