<% content_for :title, "Editing pick" %>

<h1>Editing pick</h1>

<%= render "form", pick: @pick %>

<br>

<div>
  <%= link_to "Show this pick", @pick %> |
  <%= link_to "Back to picks", picks_path %>
</div>
