<p style="color: green"><%= notice %></p>

<% content_for :title, "Picks" %>

<h1>Picks</h1>

<div id="picks">
  <% @picks.each do |pick| %>
    <%= render pick %>
    <p>
      <%= link_to "Show this pick", pick %>
    </p>
  <% end %>
</div>

<%= link_to "New pick", new_pick_path %>
